*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    background-color: #f7f7f7;
    font-family: 'Times New Roman', Times, serif;
}

.boite_menu{
    display: none;
    box-shadow: 0 5px 15px #1111118c;
    position: fixed;
}
.boite_menu button{
    width: 100%;
    text-align: left;
    background:#111;
    color: #e7e7e7;
    font-size: 14px;
    padding: 8px 12px;
    cursor: pointer;
    border: 2px solid orange;
}

button:hover{
    background-color: #1d73cf;
}